In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, col, count

In [2]:
spark = SparkSession.builder.master('local[*]').appName('used-car-price')\
.config("spark.executor.instances", "1")\
.config("spark.executor.memory", "6g")\
.config("spark.driver.memory", "6g")\
.config("spark.executor.memoryOverhead", "8g")\
.getOrCreate()

24/09/11 13:30:09 WARN Utils: Your hostname, langchain resolves to a loopback address: 127.0.1.1; using 192.168.0.103 instead (on interface wlp3s0)
24/09/11 13:30:09 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/09/11 13:30:10 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/09/11 13:30:10 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/09/11 13:30:11 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [3]:
csv_file_path = '../data/cleaned_test'
test_data = spark.read.csv(csv_file_path, header=True, inferSchema=True)

In [4]:
test_data.show()

+------+-------------+--------------------+----------+------+-------------+--------------------+--------------------+------------+-----------+---------------+-----------+------+
|    id|        brand|               model|model_year|milage|    fuel_type|              engine|        transmission|     ext_col|    int_col|       accident|clean_title| price|
+------+-------------+--------------------+----------+------+-------------+--------------------+--------------------+------------+-----------+---------------+-----------+------+
|114046|Mercedes-Benz|     AMG GT AMG GT S|      2022|  4106|     Gasoline|40L V8 32V GDI DO...|  10-speed automatic| Ultra Black|      Black|  None reported|        Yes| 78350|
|114057|      Porsche|           911 Turbo|      2022| 13800|     Gasoline|5720HP 38L Flat 6...|   8-speed automatic|       Black|          –|  None reported|        Yes| 94995|
|114068|         Ford|     Transit-350 XLT|      2020| 85000|E85 Flex Fuel|3550HP 53L 8 Cyli...|           automatic|       Beige|      Black|  None reported|        Yes| 45000|
|114072|        Buick|    LaCrosse Leather|      2016| 50000|     Gasoline|3040HP 36L V6 Cyl...|           automatic|       White|      Beige|damage reported|        Yes| 12000|
|114074|         MINI|       Cooper S Base|      2011|121250|     Gasoline|1720HP 16L 4 Cyli...|           automatic|       Black|      Black|damage reported|        Yes|  8900|
|114075|       Nissan|        370Z Touring|      2012| 37500|     Gasoline|3320HP 37L V6 Cyl...|      6-speed manual|      Silver|       Gray|damage reported|        Yes| 18500|
|114084|          Kia|   Sportage SX Turbo|      2016|127558|     Gasoline|20L I4 16V GDI DO...|   6-speed automatic|Black Cherry|      Black|  None reported|        Yes| 14311|
|114089|        Lexus|      RX 350 F Sport|      2017| 61874|     Gasoline|2950HP 35L V6 Cyl...|   8-speed automatic|       Black|        Red|  None reported|        Yes| 31950|
|114091|     INFINITI|               G37 x|      2010|161894|     Gasoline|3280HP 37L V6 Cyl...|transmission w/du...|       White|      Brown|damage reported|        Yes| 13250|
|114094|Mercedes-Benz|            AMG GT C|      2018| 72700|     Gasoline|5500HP 40L 8 Cyli...|transmission w/du...|       White|      Black|  None reported|        Yes| 36995|
|114098|         Alfa|Romeo Giulia Quad...|      2019| 29000|     Gasoline|5050HP 29L V6 Cyl...|           automatic|       White|      Black|  None reported|        Yes| 62000|
|114099|       Toyota|    Camry Hybrid XLE|      2019| 64000|       Hybrid|2080HP 25L 4 Cyli...|continuously vari...|         Red|      Black|  None reported|        Yes| 27899|
|114101|  Rolls-Royce|            Cullinan|      2020|   115|     Gasoline|67L V12 48V GDI D...|   8-speed automatic|           –|Grace White|  None reported|        Yes|239995|
|114104|       Jaguar|            XKR Base|      2012| 50000|     Gasoline|4200HP 42L 8 Cyli...|transmission w/du...|       White|      Beige|  None reported|        Yes| 19950|
|114106|Mercedes-Benz|       AMG G 63 Base|      2022| 15109|     Gasoline|5630HP 55L 8 Cyli...|   8-speed automatic|         Red|      Black|  None reported|        Yes| 94999|
|114113|    Chevrolet|   Suburban 1500 LTZ|      2008|153460|     Gasoline|3200HP 53L 8 Cyli...|           automatic|        Gold|      Beige|damage reported|        Yes|  4100|
|114117|Mercedes-Benz|AMG GLE 43 Coupe ...|      2022|  1275|     Gasoline|3850HP 30L V6 Cyl...|   9-speed automatic|        Gray|      Black|  None reported|        Yes| 33200|
|114120|         Ford|           F-250 XLT|      2019| 85000|       Diesel|4500HP 67L 8 Cyli...|   6-speed automatic|       White|      Beige|  None reported|        Yes| 27000|
|114136|       Toyota|Highlander Limite...|      2015| 85500|     Gasoline|2700HP 35L V6 Cyl...|           automatic|       Black|       Gray|  None reported|        Yes| 15995|
|114138|      Hyundai|           Sonata SE|      2007| 94500|     Gasoline|1980HP 24L 4 Cyli...|   2-speed automatic|      Silver|       Gray|  None reported|        Yes|  3200|
+------+-------------+--------------------+----------+------+-------------+--------------------+--------------------+------------+-----------+---------------+-----------+------+
only showing top 20 rows

In [5]:
data = test_data.drop('id')

In [6]:
from sklearn.impute import KNNImputer
import pandas as pd
def knn_impute(df, n_neighbors=5):   
    df_encoded = df.copy()
    for col in df_encoded.select_dtypes(include='object').columns:
        df_encoded[col] = df_encoded[col].astype('category').cat.codes
    knn_imputer = KNNImputer(n_neighbors=n_neighbors)
    df_imputed = pd.DataFrame(knn_imputer.fit_transform(df_encoded), columns=df_encoded.columns)
    for col in df.select_dtypes(include='object').columns:
        df_imputed[col] = df_imputed[col].round().astype(int).map(
            dict(enumerate(df[col].astype('category').cat.categories)))
    return df_imputed

In [7]:
test_data = knn_impute(data.toPandas(), n_neighbors=25)

In [8]:
test_data

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Mercedes-Benz,AMG GT AMG GT S,2022.0,4106.0,Gasoline,40L V8 32V GDI DOHC Twin Turbo,10-speed automatic,Ultra Black,Black,None reported,Yes,78350.0
1,Porsche,911 Turbo,2022.0,13800.0,Gasoline,5720HP 38L Flat 6 Cylinder Engine Gasoline Fuel,8-speed automatic,Black,–,None reported,Yes,94995.0
2,Ford,Transit-350 XLT,2020.0,85000.0,E85 Flex Fuel,3550HP 53L 8 Cylinder Engine Flex Fuel Capability,automatic,Beige,Black,None reported,Yes,45000.0
3,Buick,LaCrosse Leather,2016.0,50000.0,Gasoline,3040HP 36L V6 Cylinder Engine Gasoline Fuel,automatic,White,Beige,damage reported,Yes,12000.0
4,MINI,Cooper S Base,2011.0,121250.0,Gasoline,1720HP 16L 4 Cylinder Engine Gasoline Fuel,automatic,Black,Black,damage reported,Yes,8900.0
...,...,...,...,...,...,...,...,...,...,...,...,...
37460,GMC,Yukon Denali,2019.0,34672.0,Gasoline,4200HP 62L 8 Cylinder Engine Gasoline Fuel,10-speed automatic,Black,Black,None reported,Yes,49900.0
37461,Mercedes-Benz,GLC 300 GLC 300,2022.0,18031.0,Gasoline,20 Liter Turbo,automatic,White,Black,None reported,NaN,39998.0
37462,BMW,M240 i xDrive,2019.0,32000.0,Gasoline,3350HP 30L Straight 6 Cylinder Engine Gasoline...,6-speed manual,White,Black,None reported,Yes,36300.0
37463,Mercedes-Benz,AMG C 43 AMG C 43 4MATIC,2018.0,28600.0,Gasoline,3850HP 30L V6 Cylinder Engine Gasoline Fuel,8-speed automatic,White,Black,damage reported,Yes,30000.0
37464,Mercedes-Benz,AMG GLC 63 Base 4MATIC,2021.0,13650.0,Gasoline,4690HP 40L 8 Cylinder Engine Gasoline Fuel,7-speed automatic,White,Black,None reported,Yes,86900.0

In [9]:
from sklearn.preprocessing import OrdinalEncoder
cat_cols_train = test_data.select_dtypes(include=['object']).columns
cat_cols_train = cat_cols_train[cat_cols_train != 'class']
ordinal_encoder = OrdinalEncoder(handle_unknown='use_encoded_value', unknown_value=-1)

test_data[cat_cols_train] = ordinal_encoder.fit_transform(test_data[cat_cols_train].astype(str))

In [10]:
test_data.head()

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,35.0,222.0,2022.0,4106.0,2.0,789.0,1.0,285.0,14.0,0.0,0.0,78350.0
1,42.0,151.0,2022.0,13800.0,2.0,974.0,18.0,29.0,151.0,0.0,0.0,94995.0
2,14.0,1666.0,2020.0,85000.0,1.0,652.0,23.0,22.0,14.0,0.0,0.0,45000.0
3,7.0,906.0,2016.0,50000.0,2.0,513.0,23.0,293.0,10.0,1.0,0.0,12000.0
4,31.0,478.0,2011.0,121250.0,2.0,101.0,23.0,29.0,14.0,1.0,0.0,8900.0

In [12]:
test_data = spark.createDataFrame(test_data)

In [17]:
from pyspark.ml.feature import VectorAssembler, StandardScalerModel
from pyspark.sql.functions import col
from pyspark.ml.functions import vector_to_array

scaler_model = StandardScalerModel.load("scaler_model")
feature_columns = [column for column in test_data.columns if column != "price"]
assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
assembled_test_df = assembler.transform(test_data)
scaled_test_df = scaler_model.transform(assembled_test_df)
scaled_test_df = scaled_test_df.withColumn("scaled_features_array", vector_to_array(scaled_test_df["scaled_features"]))
num_features = len(feature_columns)
for i in range(num_features):
    scaled_test_df = scaled_test_df.withColumn(f"scaled_feature_{i+1}", col("scaled_features_array")[i])
scaled_test_df_to_save = scaled_test_df.select([f"scaled_feature_{i+1}" for i in range(num_features)] + ["price"])

scaled_test_df_to_save.write.csv("../data/scaled_test_data_new", header=True, mode='overwrite')
scaled_test_df_to_save.show()

+-------------------+-------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------+
|   scaled_feature_1|   scaled_feature_2|  scaled_feature_3|   scaled_feature_4|   scaled_feature_5|  scaled_feature_6|    scaled_feature_7|    scaled_feature_8|    scaled_feature_9|  scaled_feature_10|  scaled_feature_11|   price|
+-------------------+-------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------+
|-1.6016252503957296| -1.321891010074043|126.18545808246164|  374.1786953036393|-1.4357612502500614|1113.7990365515723| -2.1512891093070188|  1.1191147331975215| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 78350.0|
| -1.588015992561963|-1.5846022271426754|126.18545808246164| 2109.4553133354507|-1.4357612502500614|1375.6432527046652|0.035274716237137876| -1.1182709431831537|   2.939322587281287|-0.5485619277171502|-0.3472294237818045| 94995.0|
|-1.6424530238970294|  4.021137122983776|126.05920797143315| 14854.627090090657|-1.4357827498034428| 919.8927791841465|  0.6783817237501252| -1.1794494577716879| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 45000.0|
| -1.656062281730796| 1.2090170529533446|125.80670774937616|  8589.444334663238|-1.4357612502500614| 723.1557735339848|  0.6783817237501252|  1.1890330355844174|  -0.623602971990684| 1.6101194433760515|-0.3472294237818045| 12000.0|
| -1.609401969157882|-0.3746505654322138|125.49108247180493| 21343.566372497626|-1.4357612502500614|140.02162729033967|  0.6783817237501252| -1.1182709431831537| -0.5225270695999898| 1.6101194433760515|-0.3472294237818045|  8900.0|
|-1.5957927113241153| -1.928716919922715|125.55420752731918|  6351.879064867731|-1.4357612502500614| 846.2933238330069| -0.6078322912758494|   0.848181311448299|  0.8672665882720555| 1.6101194433760515|-0.3472294237818045| 18500.0|
|-1.6230112269916486| 3.6178199024136215|125.80670774937616|  22472.73131024723|-1.4357612502500614| 292.8820345580913| -0.9936964957836418| -1.1095311553847917| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 14311.0|
|-1.6171786879200343|  2.592876140047267|125.86983280489041| 10714.952335747386|-1.4357612502500614| 650.9716923242131|0.035274716237137876| -1.1182709431831537|  2.0043704901673656|-0.5485619277171502|-0.3472294237818045| 31950.0|
|-1.6307879457538008| 0.5392884573276762|125.42795741629068| 28619.054598543113|-1.4357612502500614| 830.7242082779582|    1.45011013276571|  1.1890330355844174|-0.09295448443953945| 1.6101194433760515|-0.3472294237818045| 13250.0|
|-1.6016252503957296|-1.3144906941002787|125.93295786040466| 12652.862864611878|-1.4357612502500614|1334.5974026049912|    1.45011013276571|  1.1890330355844174| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 36995.0|
|-1.6677273598740245|  2.748282775496317| 125.9960829159189|  4830.334681406787|-1.4357612502500614|1282.2285593743727|  0.6783817237501252|  1.1890330355844174| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 62000.0|
|-1.5705183753471201|-0.6817636783434319| 125.9960829159189| 11095.517436834207|-1.4357397506966798|285.80516385125094|  0.8070031252527227|  0.5947274652958007| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 27899.0|
|-1.5821834534903487|-0.2599456678388673|126.05920797143315| -340.2311440366701|-1.4357612502500614|1459.1503270453813|0.035274716237137876|  1.3113900647614858|  0.7914596614790349|-0.5485619277171502|-0.3472294237818045|239995.0|
|-1.6288437660632629|  4.465156081409633|125.55420752731918|  8589.444334663238|-1.4357612502500614|1136.4450228134613|    1.45011013276571|  1.1890330355844174|  -0.623602971990684|-0.5485619277171502|-0.3472294237818045| 19950.0|
|-1.6016252503957296|-1.3773933798772753|126.18545808246164| 2343.7731483884363|-1.4357612502500614|1362.9048854323526|0.035274716237137876|  0.5947274652958007| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 94999.0|
|-1.6521739223497198| 3.6696221142299716|125.30170730526218|  27109.32455970669|-1.4357612502500614| 803.8320995919647|  0.6783817237501252|-0.32295025353221063|  -0.623602971990684| 1.6101194433760515|-0.3472294237818045|  4100.0|
|-1.6016252503957296|-1.3514922739691002|126.18545808246164|-132.58508699964707|-1.4357612502500614|1017.5535949385434| 0.42113892074493026|-0.27051152674203854| -0.5225270695999898|-0.5485619277171502|-0.3472294237818045| 33200.0|
|-1.6424530238970294|0.29877818818033675| 125.9960829159189| 14854.627090090657|-1.4358042493568244|1207.2137298818648| -0.9936964957836418|  1.1890330355844174|  -0.623602971990684|-0.5485619277171502|-0.3472294237818045| 27000.0|
|-1.5705183753471201|  0.964806625819123|125.74358269386191| 14944.129700882477|-1.4357612502500614| 543.4032575802398|  0.6783817237501252| -1.1182709431831537|  0.8672665882720555|-0.5485619277171502|-0.3472294237818045| 15995.0|
| -1.632732125444339|  3.554917216636625|125.23858224974794|  16555.17669513524|-1.4357612502500614|232.02094647926424|  -1.894046306301824|   0.848181311448299|  0.8672665882720555|-0.5485619277171502|-0.3472294237818045|  3200.0|
+-------------------+-------------------+------------------+-------------------+-------------------+------------------+--------------------+--------------------+--------------------+-------------------+-------------------+--------+
only showing top 20 rows

In [ ]:
# from pyspark.ml.feature import VectorAssembler, StandardScalerModel
# from pyspark.ml.functions import vector_to_array
# from pyspark.sql.functions import col

# # Load the saved scaler model
# scaler_model = StandardScalerModel.load("scaler_model")

# # Define feature columns for the test data
# feature_columns = [column for column in Sp_data.columns]  # Adjust if needed

# # Assemble features for test data
# assembler = VectorAssembler(inputCols=feature_columns, outputCol="features")
# test_assembled_df = assembler.transform(Sp_data)

# # Use the pre-fitted scaler model to transform the test data
# scaled_test_df = scaler_model.transform(test_assembled_df)

# # Convert the 'scaled_features' vector to an array for easier handling
# scaled_test_df = scaled_test_df.withColumn("scaled_features_array", vector_to_array(scaled_test_df["scaled_features"]))

# # Get the number of features (same as training data)
# num_features = len(feature_columns)

# # Create individual columns for each feature in the array
# for i in range(num_features):
#     scaled_test_df = scaled_test_df.withColumn(f"scaled_feature_{i+1}", col("scaled_features_array")[i])

# # Select only the individual scaled feature columns for saving
# scaled_test_to_save = scaled_test_df.select([f"scaled_feature_{i+1}" for i in range(num_features)])

# # Save the scaled test data to CSV
# scaled_test_to_save.write.csv("../data/scaled_test_data.csv", header=True)